:root {
    --calc-media: calc(100% /12);
    --color-background: #CFD2C6;
    --color-borda-btn: #9FA68C;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    font-size: var(--tamanho-fonte);
}

ul.sub-menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 20px;
}

.nav, .whoarewe, .menu {
    background-color: var(--color-background);
}

/* .nav {
    position: fixed;
    width: 100%;
} */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 15px 15px;
}

/* Container responsivo */
/* <576px xs */
.cibo-container {
    max-width: 100%;
    margin: auto;
    padding: 2% 2%;
}

h1 {
    width: 100%;
    font-size: 1.5rem;
    color: var(--main-80)
}

.sub-menu > .item:not(.btn-hamburger) {
    display: none;
}

.h2 {
  font-size: 1.5rem;  
}

/* >= 576px sm */
@media  screen and (min-width: 576px) {
    .cibo-container {
        max-width: 540px;
        margin: auto;
    }

    h1 {
        width: 100%;
        font-size: 2rem;
    }

    .h2 {
        font-size: 2.0rem;  
    }
}


/* >= 768px md */
@media  screen and (min-width: 768px) {
    .cibo-container {
        max-width: 720px;
        margin: auto;
    }

    h1 {
        width: 100%;
        font-size: 3rem;
    }

    .sub-menu > .item:not(.btn-hamburger) {
        display: block;
    }

    .h2 {
        font-size: 3.0rem;  
    }
}


/* >= 992px lg */
@media  screen and (min-width: 992px) {
    .cibo-container {
        max-width: 960px;
        margin: auto;
    }
}

/* >= 1200px xl */
@media  screen and (min-width: 1200px) {
    .cibo-container {
        max-width: 1140px;
        margin: auto;
    }
}

/* >= 1400px xxl */
@media  screen and (min-width: 1400px) {
    .cibo-container {
        max-width: 1320px;
        margin: auto;
    }
}

.hamburger {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

a {
    color: var(--cor-fonte);
    text-decoration: none;
}

.logo {
    font-family: pepper;
    font-size: 1.6em;
    color: var(--cor-fonte);
}

header {
    background-image: url(../images/Full-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 1px solid #000; */
    background-position: top center;
    color: var(--cor-fonte);
    padding: 10% 5%;
    /* min-height: 500px; */
}

@font-face {
    font-family: pepper;
    src: url(../fonts/pepper-sauce.ttf)
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 0.8rem;
}

/* Quem smos*/
.quemsomos {
    padding: 5px;
}
.whoarewe-container .row:nth-child(2){
    padding: 30px 0 0;
}



/* Colunas responsivas */


/* imagem fluida */
img {
    max-width: 100%;
    height: auto;
}
/* xsm */
.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.col {
    width: 100%;
}

/* >= 576px sm */
@media  screen and (min-width: 576px) {
    .col-sm-1 {
        width: calc(var(--calc-media) * 1);
    }
    .col-sm-2 {width: calc(var(--calc-media) * 2);}
    .col-sm-3 {width: calc(var(--calc-media) * 3);}
    .col-sm-4 {width: calc(var(--calc-media) * 4);}
    .col-sm-5 {width: calc(var(--calc-media) * 5);}
    .col-sm-6 {width: calc(var(--calc-media) * 6);}
    .col-sm-7 {width: calc(var(--calc-media) * 7);}
    .col-sm-8 {width: calc(var(--calc-media) * 8);}
    .col-sm-9 {width: calc(var(--calc-media) * 9);}
    .col-sm-10 {width: calc(var(--calc-media) * 10);}
    .col-sm-11 {width: calc(var(--calc-media) * 11);}
    .col-sm-12 {width: calc(var(--calc-media) * 12);}
}


/* >= 768px md */
@media  screen and (min-width: 768px) {
    .col-md-1 {
        width: calc(var(--calc-media) * 1);
    }
    .col-md-2 {width: calc(var(--calc-media) * 2);}
    .col-md-3 {width: calc(var(--calc-media) * 3);}
    .col-md-4 {width: calc(var(--calc-media) * 4);}
    .col-md-5 {width: calc(var(--calc-media) * 5);}
    .col-md-6 {width: calc(var(--calc-media) * 6);}
    .col-md-7 {width: calc(var(--calc-media) * 7);}
    .col-md-8 {width: calc(var(--calc-media) * 8);}
    .col-md-9 {width: calc(var(--calc-media) * 9);}
    .col-md-10 {width: calc(var(--calc-media) * 10);}
    .col-md-11 {width: calc(var(--calc-media) * 11);}
    .col-md-12 {width: calc(var(--calc-media) * 12);}
}

/* >= 992px lg */
@media screen and (min-width: 992px) {
    /* >= 768px md */
@media  screen and (min-width: 768px) {
    .col-lg-1 {
        width: calc(var(--calc-media) * 1);
    }
    .col-lg-2 {width: calc(var(--calc-media) * 2);}
    .col-lg-3 {width: calc(var(--calc-media) * 3);}
    .col-lg-4 {width: calc(var(--calc-media) * 4);}
    .col-lg-5 {width: calc(var(--calc-media) * 5);}
    .col-lg-6 {width: calc(var(--calc-media) * 6);}
    .col-lg-7 {width: calc(var(--calc-media) * 7);}
    .col-lg-8 {width: calc(var(--calc-media) * 8);}
    .col-lg-9 {width: calc(var(--calc-media) * 9);}
    .col-lg-10 {width: calc(var(--calc-media) * 10);}
    .col-lg-11 {width: calc(var(--calc-media) * 11);}
    .col-lg-12 {width: calc(var(--calc-media) * 12);}
}
}

/* >= 1200px xl */
@media  screen and (min-width: 1200px) {
}

/* >= 1400px xxl */
@media  screen and (min-width: 1400px) {

}


/* Exemplo de grid com media queries */

/* < 576px */
.linha { /* row */
    width: 100%;
    border: #000 solid 3px;
    display: flex;
    flex-wrap: wrap;
}

div[class*=coluna] {
    border: #5202ff solid 1px;
} 

.coluna {
    width: 100%;
} 


/* >= 576px small */
@media screen and (min-width: 576px) {
    .coluna-sm-1 {
        width: calc(8.33% * 1);
    }
    .coluna-sm-2 {
        width: calc(8.33% * 2);
    }
    .coluna-sm-3 {
        width: calc(8.33% * 3);
    }
    .coluna-sm-4 {
        width: calc(8.33% * 4);
    }

    .coluna-sm-5 {
        width: calc(8.33% * 5);
    }

    .coluna-sm-6 {
        width: calc(8.33% * 6);
    }

    .coluna-sm-7 {
        width: calc(8.33% * 7);
    }

    .coluna-sm-8 {
        width: calc(8.33% * 8);
    }

    .coluna-sm-9 {
        width: calc(8.33% * 9);
    }

    .coluna-sm-10 {
        width: calc(8.33% * 10);
    }

    .coluna-sm-11 {
        width: calc(8.33% * 11);
    }

    .coluna-sm-12 {
        width: calc(8.33% * 12);
    }
}


/* >= 768px md */
@media screen and (min-width: 768px) {
    .coluna-md-1 {
        width: calc(var(--calc-media) * 1);
    }
    .coluna-md-2 {width: calc(var(--calc-media) * 2);}
    .coluna-md-3 {width: calc(var(--calc-media) * 3);}
    .coluna-md-4 {width: calc(var(--calc-media) * 4);}
    .coluna-md-5 {width: calc(var(--calc-media) * 5);}
    .coluna-md-6 {width: calc(var(--calc-media) * 6);}
    .coluna-md-7 {width: calc(var(--calc-media) * 7);}
    .coluna-md-8 {width: calc(var(--calc-media) * 8);}
    .coluna-md-9 {width: calc(var(--calc-media) * 9);}
    .coluna-md-10 {width: calc(var(--calc-media) * 10);}
    .coluna-md-11 {width: calc(var(--calc-media) * 11);}
    .coluna-md-12 {width: calc(var(--calc-media) * 12);}
}

.logo {
    transition: transform 300ms;
}

.logo.ativa{
    transform: rotate(180deg);
}

/* .logo-aumentado {
    font-size: 35px;
} */

.active {
    border-bottom: #000 solid 2px;
}

.color {
    color:#5202ff;
    font-weight: 900;
}

.text-center {
    text-align: center;
}

.m-center {
    margin: auto;
}

/* Section Menu */
.button-menu {
    border: 1px solid var(--color-borda-btn);
    padding: 8px 5px 8px 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.menu-botoes {
    padding: 10px 0 15px;
    /* background-color: #9FA68C; */
}