* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    font-size: var(--tamanho-fonte);
}

ul.sub-menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 20px;
}

.nav {
    background-color: #CFD2C6;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 15px 15px;
}

.container {
    margin: 0 100px;
}

.hamburger {
    width: 30px;
    height: 30px;
}

a {
    color: var(--cor-fonte);
    text-decoration: none;
}

.logo {
    font-family: pepper;
    font-size: 1.6em;
    color: var(--cor-fonte);
}

header {
    background-image: url(../images/Full-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #000;
    background-position: top center;
    color: var(--cor-fonte);
    padding: 10% 5%;
    /* min-height: 500px; */
}

h1 {
    width: 29%;
}


@font-face {
    font-family: pepper;
    src: url(../fonts/pepper-sauce.ttf)
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}


.d {
    border: 1px solid #ff0000;
    padding: 20px;
    background-color: aqua;
    /* display: block; */
    border-radius: 50%;
    box-shadow: 2px 2px 10px #000;
}